body {
    height: 100vh;
    background-color: pink;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50vmin;
    height: 50vmin;
}

div {
    background-color: gray;
    margin-bottom: 1vmin;
    margin-right: 1vmin;
    font-size: 10vmin;
    text-align: center;
    line-height: 16vmin;
}



